@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
See `tailwind.config.js` for more custom styles
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

body {
  @apply bg-black;
}

main {
  @apply bg-white;
}

.blur-0 {
  backdrop-filter: blur(0);
}
.blur-1 {
  backdrop-filter: blur(5px);
}
.blur-2 {
  backdrop-filter: blur(10px);
}
.blur-3 {
  backdrop-filter: blur(15px);
}
.blur-4 {
  backdrop-filter: blur(20px);
}

@responsive {
  .h-screen-half {
    height: 50vh;
  }
  .min-h-screen-half {
    min-height: 50vh;
  }
  .flex-2 {
    flex: 2 1 0%;
  }
  .input-placeholder::placeholder {
    @apply text-white uppercase;
  }
}

.writing-mode-vertical {
  writing-mode: vertical-lr;
}
