/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
See `tailwind.config.js` for more custom styles
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
@tailwind base;

/* 
Base Styles 
*/

body {
  @apply bg-black;
}

main {
  @apply bg-white;
}

@tailwind components;
@tailwind utilities;

/* 
Utilities
*/

/* Typography styles */
@responsive {
  .type-h1 {
    @apply text-6xl tracking-normal leading-10 font-heading font-light;
  }
  .type-h2 {
    @apply text-5xl tracking-normal leading-10 font-heading font-light;
  }
  .type-h3 {
    @apply text-4xl tracking-normal leading-9 font-heading font-light;
  }
  .type-h4 {
    @apply text-3xl tracking-normal leading-8 font-heading font-light;
  }
  .type-h5 {
    @apply text-2xl tracking-normal leading-7 font-heading font-light;
  }
  .type-p1 {
    @apply text-lg tracking-wide leading-6 font-body;
  }
  .type-p2 {
    @apply text-base tracking-wide leading-6 font-body;
  }
  .type-p3 {
    @apply text-sm tracking-wide leading-4 font-body;
  }
  .type-e1 {
    @apply text-base tracking-wider leading-4 font-body uppercase;
  }
  .type-e2 {
    @apply text-sm tracking-wider leading-4 font-body uppercase;
  }
  .type-e3 {
    @apply text-xs tracking-wider leading-4 font-body uppercase;
  }
}

/* Utilities with responsive variants */
@responsive {
  .h-screen-half {
    height: 50vh;
  }
  .min-h-screen-half {
    min-height: 50vh;
  }
  .flex-2 {
    flex: 2 1 0%;
  }
  .input-placeholder::placeholder {
    @apply text-white uppercase;
  }
}

/* Utilities without responsive variants */
.writing-mode-vertical {
  writing-mode: vertical-lr;
}

.h-screen-w {
  height: 100vw;
}

/* Classes for third-party libraries */
.headroom {
  @apply transition-colors duration-300 ease-in-out z-50 bg-black bg-opacity-0;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.headroom--pinned {
  @apply bg-opacity-100;
}

