@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

main {
  @apply bg-white;
}

.blur-0 {
  backdrop-filter: blur(0);
}
.blur-1 {
  backdrop-filter: blur(5px);
}
.blur-2 {
  backdrop-filter: blur(10px);
}
.blur-3 {
  backdrop-filter: blur(15px);
}
.blur-4 {
  backdrop-filter: blur(20px);
}

@responsive {
  .grid-cols-max-1 {
    grid-template-columns: repeat(1, max-content);
  }

  .grid-cols-max-2 {
    grid-template-columns: repeat(2, max-content);
  }

  .grid-cols-max-3 {
    grid-template-columns: repeat(3, max-content);
  }

  .grid-cols-max-4 {
    grid-template-columns: repeat(4, max-content);
  }

  .grid-cols-max-5 {
    grid-template-columns: repeat(5, max-content);
  }

  .grid-cols-max-6 {
    grid-template-columns: repeat(6, max-content);
  }

  .grid-cols-max-7 {
    grid-template-columns: repeat(7, max-content);
  }

  .grid-cols-max-8 {
    grid-template-columns: repeat(8, max-content);
  }

  .grid-cols-max-9 {
    grid-template-columns: repeat(9, max-content);
  }

  .grid-cols-max-10 {
    grid-template-columns: repeat(10, max-content);
  }

  .grid-cols-max-11 {
    grid-template-columns: repeat(11, max-content);
  }

  .grid-cols-max-12 {
    grid-template-columns: repeat(12, max-content);
  }
}

.writing-mode-vertical {
  writing-mode: vertical-lr;
}
